<div class="faq">
    <h3 class="faq__title">Популярные вопросы</h3>
    <div class="faq__list">
        <div class="faq__item show">
            <div class="faq__item-head">
                <span>Как я могу оплатить заказ?</span>
                <img src="img/arrow-icon.svg" alt="arrow">
            </div>
            <div class="faq__item-content">
                <div class="faq__item-content-ins">
                    <p>
                        «Потолочный светильник Button 10007/18 Copper» на
                        Candellabra.com можно оплатить картой онлайн, или взять
                        кредит онлайн от Tinkoff Банка. Если вы хотите оплатить как
                        юр.лицо, напишите почту <a href="mailto:marketing@candellabra.com">marketing@candellabra.com</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="faq__item">
            <div class="faq__item-head">
                <span>Есть ли скидки для дизайнеров?</span>
                <img src="img/arrow-icon.svg" alt="arrow">
            </div>
            <div class="faq__item-content">
                <div class="faq__item-content-ins">
                    <p>
                        Да, мы сотрудничаем с дизайнерами и студиями на особых
                        условиях. По всем вопросам пишите на почту
                        <a href="mailto:marketing@candellabra.com">marketing@candellabra.com</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="faq__item">
            <div class="faq__item-head">
                <span>Где можно посмотреть товар?</span>
                <img src="img/arrow-icon.svg" alt="arrow">
            </div>
            <div class="faq__item-content">
                <div class="faq__item-content-ins">
                    <p>
                        Мы работаем согласно законодательства РФ. Вы можете вернуть
                        товар в течение 14 дней, при условии что вы сохранили товар
                        в надлежащем виде. А вот товары по индивидуальному заказу
                        вернуть нельзя.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>