.modal-dol {
    width: 95vw;
    padding: 21px 20px 25px;
    text-align: center;

    &__img {
        margin-bottom: 30px;

        img {
            margin: 0 auto;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        margin-bottom: 11px;
    }

    &__sub-title {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 33px;
    }

    &__content {
        margin-bottom: 28px;
        text-align: left;

        &-inner {
            display: flex;
        }

        .titles {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 4px 0;
            order: 2;

            &__item {
                font-weight: 500;
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: auto;

                &:last-child {
                    width: auto;
                }

                span {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    display: inline-block;
                    margin-bottom: 3px;
                }

                div {
                    color: #979797;
                    font-size: 11px;
                }
            }
        }

        .progress {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 20px;
            margin-right: 22px;
            order: 1;

            .line {
                display: none;
            }

            .step {
                margin-bottom: 21px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .list-desc {
            padding: 0;
            padding-left: 3px;
            list-style: none;

            &__item {
                display: flex;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                margin-bottom: 8px;

                img {
                    flex: none;
                    margin-top: 4px;
                    margin-right: 12px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__footer {
        color: #979797;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;

        .link-blue {
            color: #2994FF;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 860px) {
    .modal-dol {
        min-width: 840px;
        padding: 60px 0 0;
        width: auto;

        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 6px;
        }

        &__sub-title {
            margin-bottom: 45px;
        }

        &__content {
            background-color: #F6F8F9;
            padding: 35px 0;
            padding-left: 90px;
            margin-bottom: 0;

            &-inner {
                display: block;
            }

            .titles {
                flex-direction: row;
                justify-content: start;
                margin-right: 0;
                padding: 0;

                &__item {
                    width: 206px;
                    margin-bottom: 0;

                    span {
                        font-weight: 500;
                    }

                    div {
                        font-size: 12px;
                    }
                }
            }

            .progress {
                align-items: center;
                padding-right: 115px;
                flex-direction: row;
                margin-right: 0;

                .line {
                    display: block;
                }

                .step {
                    margin-bottom: 0;
                }
            }

            .list-desc {

                &__item {
                    align-items: center;
                    font-size: 11px;

                    img {
                        margin-top: 0;
                        margin-right: 8px;
                    }
                }
            }
        }

        &__footer {
            color: inherit;
            padding: 20px 0;
        }
    }
}