<div id="dolyami-modal" class="modal modal-dol">
    <div class="modal-dol__img">
        <img src="img/dol/logo.jpg" alt="Долями">
    </div>
    <div class="modal-dol__title">
        Оплатите с Долями<br>
        только 25% стоимости покупки
    </div>
    <div class="modal-dol__sub-title">
        Оставшиеся три платежа спишутся автоматически с шагом в две недели
    </div>

    <div class="modal-dol__content">
        <div class="titles">
            <div class="titles__item">
                <span>1240р</span>
                <div>Сегодня</div>
            </div>
            <div class="titles__item">
                <span>1240р</span>
                <div>Через 2 недели</div>
            </div>
            <div class="titles__item">
                <span>1240р</span>
                <div>Через 4 недели</div>
            </div>
            <div class="titles__item">
                <span>1240р</span>
                <div>Через 6 недель</div>
            </div>
        </div>
        <div class="progress">
            <img src="img/dol/1-dol.svg" alt="dol">
            <img src="img/dol/line.svg" alt="line">
            <img src="img/dol/2-dol.svg" alt="dol">
            <img src="img/dol/line.svg" alt="line">
            <img src="img/dol/3-dol.svg" alt="dol">
            <img src="img/dol/line.svg" alt="line">
            <img src="img/dol/4-dol.svg" alt="dol">
        </div>
        <ul class="list-desc">
            <li class="list-desc__item">
                <img src="img/dol/check.svg" alt="check">
                <span>Оплачивайте покупки частями по 25% - каждые две недели</span>
            </li>
            <li class="list-desc__item">
                <img src="img/dol/check.svg" alt="check">
                <span>Никаких дополнительных платежей - как обычная оплата картой</span>
            </li>
        </ul>
    </div>

    <div class="modal-dol__footer">
        Подробную информацию о сервисе можно посмотреть на сайте <a href="#" class="link-blue">dolyame.ru</a>
    </div>
</div>