.fancybox__backdrop {
    background: rgba(0,0,0,0.65);
}

.fancybox__toolbar {
    background: none;
}

.fancybox__slide {
    padding: 20px 0;
}

.modal {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    color: #323F4C;

    & > .carousel__button.is-close {
        color: #323F4C;
        top: 12px;
        right: 12px;

        svg {
            filter: none
        }
    }
}

[data-tooltip] {
    position: relative;

    &::after {
        content: attr(data-tooltip);
        position: absolute;
        padding: 7px 10px;
        color: #323F4C;
        background-color: #dedede;
        opacity: 0;
        pointer-events: none;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        border-radius: 5px;
        min-width: 180px;
        transition: opacity .2s ease;
    }

    &:hover {

        &::after {
            opacity: 1;
        }
    }
}

.show-more {
    @include no-btn();
    color: #323F4C;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    transition: background-color .2s ease;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;

    &:hover {
        background-color: inherit;
    }
}

.btn-cart {
    @include no-btn();
    color: #000;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;

    .icon {
        margin-right: 4px;
        height: auto;
        width: 10px;
        height: 12px;
    }

    span {
        margin-top: 3px;
    }
}

.btn-select {
    border: 1px solid #CFD7DF;
    border-radius: 10px;
    color: #969CA3;
    width: 100%;
    padding: 5px 15px;
    height: 50px;
    font-size: 14px;
    text-align: center !important;
    float: none;

    &::after {
        border-bottom-width: 2px;
        border-right-width: 2px;
        right: 23px;
        height: 8px;
        width: 8px;
        z-index: 10;
    }

    .list {
        border: 1px solid #CFD7DF;
        box-shadow: none;
        border-radius: 10px;
        top: -1px;
        left: -1px;
        margin-top: 0;
        width: calc(100% + 2px);
        transition: none;
    }

    .option {
        min-height: 50px;
        line-height: 50px;
        padding-right: 18px;
        transition: none;
        text-align: center;

        &.selected.focus {
            background-color: inherit;
            font-weight: 400;
            color: #000;
        }
    }
}

.btn-stroke {
    @include no-btn();
    color: #323F4C;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    position: relative;
    transition: color .2s ease;

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 100%;
        border-bottom: 1px dashed;
        transition: .2s ease;
    }

    &:hover {
        color: #000;

        &::after {
            opacity: 0;
            bottom: 0;
        }
    }
}

.btn-delete-checked {
    @include no-btn();
    color: #FF1B51;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.btn {
    @include no-btn();
    border-radius: 10px;
    display: inline-block;
    padding: 17px 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    transition: background-color .2s ease;

    &--primary {
        color: #000;
        background-color: #FBC502;
        text-decoration: none;

        &:hover {
            background-color: darken(#FBC502, 4%);
        }
    }

    &--secondary {
        color: #fff;
        background-color: #323F4C;

        &:hover {
            background-color: lighten(#323F4C, 4%);
        }
    }

    &--xs {
        border-radius: 6px;
        height: 40px;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 20px;
    }
}

.input {
    appearance: none;
    background: #F9F9F9;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(50, 63, 76, 0.5);
    padding: 17px 25px;
}

.input-cart {
    appearance: none;
    background-color: #fff;
    border: 1px solid #CFD3D7;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    padding: 0 15px;
    width: 100%;

    &::placeholder {
        color: #9CA4AF;
    }
}

.checkbox {
    position: relative;

    input[type="checkbox"] {
        display: none;

        &:checked ~ label {
            border-color: #323F4C;
            background-color: #323F4C;

            &::after {
                content: '';
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNEw1IDhMMTIgMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
                background-repeat: no-repeat;
                background-position: 3.5px center;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                height: 100%;
                width: 100%;
                transform: translate(-50%, -50%);
            }
        }
    }

    label {
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        height: 20px;
        width: 20px;

        &:hover {
            border-color: #323F4C;
        }
    }
}

@media screen and (min-width: 576px) {
    .modal {

        & > .carousel__button.is-close {
            top: 20px;
            right: 22px;
        }
    }
}

@media screen and (min-width: 768px) {
    .btn {
        font-size: 16px;
        padding: 18px 20px;

        &--xs {
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    .btn-cart {
        font-size: 12px;

        .icon {
            margin-right: 7px;
            height: 15px;
            width: 12px;
        }
    }

    .btn-select {
        height: 56px;
        padding: 7px 15px;
        width: 378px;

        .option {
            min-height: 56px;
            line-height: 56px;
        }
    }

    .btn-stroke {
        font-size: 16px;
    }

    .show-more {
        border-radius: 5px;
        padding: 12px 30px;
        font-weight: 600;
        background-color: #F6F8F9;
        text-decoration: none;
        
        &:hover {
            background-color: darken(#F6F8F9, 5%);
        }
    }

    .input-cart {
        font-size: 14px;
    }
}