.fancybox__backdrop {
    background: rgba(0,0,0,0.65);
}

.fancybox__toolbar {
    background: none;
}

.modal {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    color: #323F4C;

    & > .carousel__button.is-close {
        color: #323F4C;
        top: 20px;
        right: 22px;

        svg {
            filter: none
        }
    }
}

[data-tooltip] {
    position: relative;

    &::after {
        content: attr(data-tooltip);
        position: absolute;
        padding: 7px 10px;
        color: #323F4C;
        background-color: #dedede;
        opacity: 0;
        pointer-events: none;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        border-radius: 5px;
        min-width: 180px;
        transition: opacity .2s ease;
    }

    &:hover {

        &::after {
            opacity: 1;
        }
    }
}

.show-more {
    @include no-btn();
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    transition: background-color .2s ease;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;

    &:hover {
        background-color: darken(#F6F8F9, 5%);
    }
}

.btn-cart {
    @include no-btn();
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;

    img {
        margin-right: 6px;
    }

    span {
        margin-top: 2px;
    }
}

.btn-select {
    border: 1px solid #CFD7DF;
    border-radius: 10px;
    color: #969CA3;
    width: 100%;
    padding: 0 15px;
    height: 42px;
    font-size: 14px;
    text-align: center !important;
    float: none;

    &::after {
        border-bottom-width: 2px;
        border-right-width: 2px;
        right: 23px;
        height: 8px;
        width: 8px;
    }

    .list {
        width: 100%;
    }

    .option {
        text-align: center;

        &.selected.focus {
            background-color: inherit;
            font-weight: 400;
            color: #000;
        }
    }
}

.btn-stroke {
    @include no-btn();
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    position: relative;
    transition: color .2s ease;

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 100%;
        border-bottom: 1px dashed;
        transition: .2s ease;
    }

    &:hover {
        color: #000;

        &::after {
            opacity: 0;
            bottom: 0;
        }
    }
}

.btn {
    @include no-btn();
    border-radius: 10px;
    display: inline-block;
    padding: 13px 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    transition: background-color .2s ease;

    &--primary {
        color: #000;
        background-color: #FBC502;

        &:hover {
            background-color: darken(#FBC502, 4%);
        }
    }

    &--secondary {
        color: #fff;
        background-color: #323F4C;

        &:hover {
            background-color: lighten(#323F4C, 4%);
        }
    }
}

.input {
    appearance: none;
    background: #F9F9F9;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(50, 63, 76, 0.5);
    padding: 17px 25px;
}

@media screen and (min-width: 768px) {
    .btn {
        font-size: 16px;
        padding: 18px 20px;
    }

    .btn-select {
        height: 56px;
        padding: 7px 15px;
        width: 378px;
    }

    .btn-stroke {
        font-size: 16px;
    }

    .show-more {
        border-radius: 5px;
        padding: 12px 30px;
        font-weight: 600;
        background-color: #F6F8F9;
        text-decoration: none;
    }
}