.fancybox__backdrop {
    background: rgba(0,0,0,0.65);
}

.fancybox__toolbar {
    background: none;
}

.modal {
    background-color: #fff;
    border-radius: 10px;
    color: #323F4C;

    & > .carousel__button.is-close {
        color: #323F4C;
        top: 20px;
        right: 22px;

        svg {
            filter: none
        }
    }
}

.show-more {
    @include no-btn();
    background-color: #F6F8F9;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    transition: background-color .2s ease;

    &:hover {
        background-color: darken(#F6F8F9, 5%);
    }
}

.btn-select {
    border: 1px solid #CFD7DF;
    border-radius: 10px;
    color: #969CA3;
    width: 378px;
    padding: 7px 15px;
    height: 56px;
    font-size: 14px;
    text-align: center !important;
    float: none;

    &::after {
        border-bottom-width: 2px;
        border-right-width: 2px;
        right: 23px;
        height: 8px;
        width: 8px;
    }

    .list {
        width: 100%;
    }

    .option {
        text-align: center;

        &.selected.focus {
            background-color: inherit;
            font-weight: 400;
            color: #000;
        }
    }
}

.btn-stroke {
    @include no-btn();
    font-weight: 400;
    line-height: 19px;
    position: relative;
    transition: color .2s ease;

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 100%;
        border-bottom: 1px dashed;
        transition: .2s ease;
    }

    &:hover {
        color: #000;

        &::after {
            opacity: 0;
            bottom: 0;
        }
    }
}

.btn {
    @include no-btn();
    border-radius: 10px;
    display: inline-block;
    padding: 18px 20px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    transition: background-color .2s ease;

    &--primary {
        color: #000;
        background-color: #FBC502;

        &:hover {
            background-color: darken(#FBC502, 4%);
        }
    }

    &--secondary {
        color: #fff;
        background-color: #323F4C;

        &:hover {
            background-color: lighten(#323F4C, 4%);
        }
    }
}

.input {
    appearance: none;
    background: #F9F9F9;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(50, 63, 76, 0.5);
    padding: 17px 25px;
}