<a href="#" class="offer-item" title="Стул-кресло Брайан замша хаки Secret De Maison">
    <div class="offer-item__img">
        @@if (context.sale === true) {
            <div class="offer-item__sale">-24%</div>
        }
        
        <img src="img/cart/list/@@img.jpg" alt="Стул-кресло Брайан замша хаки Secret De Maison">
    </div>

    <div class="offer-item__content">
        @@if (context.badge === true) {
            <span class="offer-item__badge">Ручная работа</span>
        }

        <div class="offer-item__name">Стул-кресло Брайан замша хаки Secret De Maison</div>

        <div class="offer-item__count">
            <span class="in-stock">В наличии</span>
        </div>

        <div class="offer-item__prices">
            <span class="current-price">125 000 ₽</span>
            <span class="old-price">129 000 ₽</span>
        </div>
    </div>
</a>