<a href="#" class="viewed-item-mobile" title="Кресло Secret De Maison Pintada">
    <div class="viewed-item-mobile__img">
        <img src="img/mobile/@@img.jpg" alt="Кресло Secret De Maison Pintada">
    </div>
    <div class="viewed-item-mobile__name">Кресло Secret De Maison Pintada</div>
    <div class="viewed-item-mobile__count">Наличие: 2 шт.</div>
    <div class="viewed-item-mobile__price">
        <span class="viewed-item-mobile__price-current">15 000 ₽</span>
        <span class="viewed-item-mobile__price-old">18 000 ₽</span>
    </div>
    <div class="viewed-item-mobile__action">
        <button class="btn-cart">
            <svg class="icon">
                <use xlink:href="img/sprite.svg#sprite--Сart"/>
            </svg>
            <span>В корзину</span>
        </button>
    </div>
</a>