.map {
    margin-top: 44px;

    &__title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 23px;
    }

    &__content {
        display: flex;
        height: auto;
    }

    &__main {
        display: none;
    }

    &__nav {
        overflow-y: scroll;
        height: 100%;
        width: 100%;

        ul {
            list-style: none;
            padding: 0;
        }

        &-countries {
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            height: 45px;
            display: flex;
            justify-content: space-between;
            padding: 11px 10px 11px 20px;
            align-items: center;
            transition: all .2s ease;

            &.active {
                background: #F6F8F9;
                border-radius: 10px;

                .icon {
                    transform: rotate(180deg);
                }
            }
        }

        &-city {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            padding: 11px 10px 11px 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;

            &.active {
                font-weight: 700;

                .icon {
                    transform: rotate(180deg);
                }
            }

            &-list {
                max-height: 0;
                overflow: hidden;

                &.show {
                    max-height: 1000px;
                }
            }
        }

        .icon {
            cursor: pointer;
            height: 24px;
            width: 24px;
            fill: #969CA3;
            transition: transform .2s ease;
        }

        .list-city {
            max-height: 0;
            overflow: hidden;

            &.show {
                max-height: 1000px;
            }
        }
    }
}

.city-item {
    display: flex;
    padding: 0 20px;
    margin: 10px 0;

    &__img {
        flex: none;
        margin-right: 15px;

        img {
            margin-top: -3px;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    &__text {
        color: #969CA3;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) {
    .map {
        margin-top: 76px;

        &__title {
            font-size: 20px;
            margin-bottom: 40px;
        }

        &__nav {

            &-countries {
                font-size: 16px;
                height: 55px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .map {

        &__content {
            height: 505px;
        }

        &__main {
            display: block;
        }

        &__nav {
            padding-right: 10px;
            margin-right: 35px;
            width: 344px;
        }
    }
}