<div class="map">
    <div class="map__title">Магазины Candellabra</div>
    <div class="map__content">
        <div class="map__nav">
            <div class="map__nav-countries active">
                <span>Россия</span>
                <svg class="icon">
                    <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                </svg>
            </div>
            <ul class="list-city show">
                <li>
                    <div class="map__nav-city active">
                        <span>Москва</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                    <div class="map__nav-city-list show">
                        <div class="city-item">
                            <div class="city-item__img">
                                <img src="img/map-pin-icon.svg" alt="map pin">
                            </div>
                            <div class="city-item__content">
                                <div class="city-item__title">Candellabra Кутузовский</div>
                                <div class="city-item__text">
                                    <p>Будни 10:00 - 18:00</p>
                                    <p>Выходные 11:00 - 17:00 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Санкт-Петербург</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Казань</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Челябинск</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Омск</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Барнаул</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Ростов-на-Дону</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Нальчик</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Иркутск</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Красноярск</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
                <li>
                    <div class="map__nav-city">
                        <span>Сочи</span>
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#sprite--Arrow-down"/>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
        <div class="map__main">
            <img src="img/map.jpg" alt="map">
        </div>
    </div>
</div>