<div class="cart-buynow">
    <div class="cart-buynow__title">Оплатите заказ сейчас<br>и&nbsp;получите скидку&nbsp;3%</div>
    <div class="cart-buynow__content">
        <div class="cart-buynow-time">
            <div class="cart-buynow-time__item">
                <span>09</span>
            </div>
            <span class="cart-buynow-time__separate">:</span>
            <div class="cart-buynow-time__item">
                <span>58</span>
            </div>
        </div>
        <div class="cart-buynow-text">
            успейте<br>
            сэкономить<br>
            <a href="#">14 566 р</a>
        </div>
    </div>
    <picture class="cart-buynow__img">
        <source srcset="img/cart/pig-desktop.png" media="(min-width: 768px)" width="120" />
        <img src="img/cart/pig-mob.png" loading="lazy" alt="pig" width="70">
    </picture>
</div>