.modal-booking {
    padding: 24px 38px 30px;
    min-width: 540px;

    h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 33px;
    }

    &__items {
        margin-bottom: 35px;
    }

    &-item {
        display: flex;
        align-items: center;
        font-size: 12px;

        &:not(:first-child) {
            border-top: 1px solid #D8D8D8;
            padding-top: 15px;
            margin-top: 15px;
        }

        &__img {
            max-width: 45px;
        }

        &__name {
            font-size: 14px;
            font-weight: 400;
            max-width: 180px;
            line-height: 20px;
            margin-left: 24px;
        }

        &__count,
        &__price {
            font-weight: 700;
            flex: 1;
            text-align: right;
        }
    }

    &__form {
        margin-bottom: 35px;

        &-wrap {
            display: flex;
            justify-content: space-between;
        }

        &-count {
            font-size: 14px;
            font-weight: 500;

            span {
                color: #979797;
            }
        }

        &-row {
            display: flex;
            margin: 0 -20px 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-label {
            color: #000;
            display: block;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
}

.mb-col-12 {
    padding: 0 20px;
    width: 100%;
}

.mb-col-5 {
    padding: 0 20px;
    width: 50%;
}

.mb-input {
    appearance: none;
    border: none;
    color: #9CA4AF;
    border-radius: 10px;
    background-color: #F6F8F9;
    padding: 18px 25px;
    font-size: 15px;
    font-weight: 500;

    &::placeholder {
        color: #9CA4AF;
    }

    &--center {
        text-align: center;
    }
}

.btn-select-booking {
    border-radius: 10px;
    background-color: #F6F8F9;
    border: none;
    color: #9CA4AF;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 49px;
    width: 100%;

    &::after {
        border-color: #323F4C;
        height: 8px;
        width: 8px;
        right: 22px;
    }

    .list {
        border-radius: 10px;
        width: 100%;

        .option.selected.focus {
            font-weight: 600;
        }
    }
}