<div class="cart-item">
    <div class="cart-item__checkbox">
        <div class="checkbox">
            <input type="checkbox" name="" id="@@img">
            <label for="@@img"></label>
        </div>
    </div>

    <div class="cart-item__img">
        <img src="img/cart/@@img.jpg" alt="@img">
    </div>

    <div class="cart-item__content">
        <div class="cart-item__head">
            <div class="article">Арт. 145-2637</div>
            <a href="#" class="title" title="ЭКО бомбочка "Медвежья Радость"">ЭКО бомбочка "Медвежья Радость"</a>
        </div>

        <div class="cart-item__footer">
            <div class="cart-item__prices">
                <span class="old-price">49 000 ₽</span>
                <span class="current-price">48 000 ₽</span>
            </div>

            <button class="btn-delete-desktop">Удалить</button>
        </div>
    </div>

    <div class="cart-item__actions">
        <div class="cart-item__counts">
            <button class="btn-count" type="button">
                <svg class="icon">
                    <use xlink:href="img/sprite.svg#sprite--Minus-item"/>
                </svg>
            </button>
            <span class="count">@@count</span>
            <button class="btn-count" type="button">
                <svg class="icon">
                    <use xlink:href="img/sprite.svg#sprite--Plus-item"/>
                </svg>
            </button>
        </div>
        <button class="btn-fav" type="button">
            <svg class="icon">
                <use xlink:href="img/sprite.svg#sprite--Favorite"/>
            </svg>
        </button>
    </div>

    <button class="btn-delete-mob">
        <svg class="icon">
            <use xlink:href="img/sprite.svg#sprite--Delete-item"/>
        </svg>
    </button>
</div>