<div class="subscription">
    <div class="send-icon">
        <img src="img/send-icon.svg" alt="Подписка на
            новости">
    </div>
    <div class="subscription__content">
        <h5 class="title-content">Не пропустите
            распродажу</h5>
        <p>
            Подпишитесь на рассылку CANDELLABRA и
            получите приоритетный доступ к распродаже и
            в числе первых узнавайте об акциях и
            новинках.
        </p>
    </div>
    <div class="subscription__form">
        <input type="text" class="input input--email" placeholder="Ваш e-mail ...">
        <button class="btn btn--primary">Подписаться</button>
    </div>
</div>