<div class="recently-item">
    <div class="recently-item__img">
        <img src="img/cart/recently/@@img.jpg" alt="@@img">
    </div>

    <div class="recently-item__content">
        <div class="recently-item__head">
            <div class="recently-item__head-text">
                <div class="article">Арт. 145-2637</div>
                <a href="#" class="name" title="Диван Дублин модульный Тринити (Аметист)">
                    Диван Дублин модульный Тринити (Аметист) - Тринит[...]
                </a>
            </div>
            <button class="btn-fav" type="button">
                <svg class="icon">
                    <use xlink:href="img/sprite.svg#sprite--Favorite"/>
                </svg>
            </button>
        </div>
        <div class="recently-item__footer">
            <div class="recently-item__footer-prices">
                <span class="current-price">24 131 ₽</span>
                <span class="old-price">34 131 ₽</span>
            </div>
            <div class="recently-item__footer-action">
                <button class="btn-cart">
                    <svg class="icon">
                        <use xlink:href="img/sprite.svg#sprite--Сart"/>
                    </svg>
                    <span>В корзину</span>
                </button>
            </div>
        </div>
    </div>
</div>