.recently-item {
    display: flex;
    margin-bottom: 29px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__img {
        flex: none;
        margin-right: 25px;
    }

    &__head {
        display: flex;
        justify-content: space-between;

        &-text {
            width: 70%;
        }

        .article {
            color: #9CA4AF;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 9px;
        }

        .name {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;

        &-prices {

            .current-price {
                font-size: 16px;
                font-weight: 700;
            }

            .old-price {
                color: #969ca3;
                font-size: 14px;
                font-weight: 500;
                text-decoration: line-through;
                margin-left: 15px;
            }
        }
    }

    &__content {
        padding: 3px 0 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}